.column_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 15px 10px;
  width: 390px;
  color: #556737;
  border: 2px solid rgb(212, 218, 200);
  border-radius: 15px;
  box-shadow: 5px 3px 10px 5px rgb(212, 218, 200);
  height: fit-content;
}
.column_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column_title {
  font-size: 30px;
  width: 70%;
}

.titleButton {
  border: none;
  border-radius: 2px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-top: 0px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}

.confirmTitle {
  background-color: rgb(166, 250, 143);
  margin-right: 5px;
}
.confirmTitle:hover {
  background-color: rgb(68, 161, 71);
}
.cancelTitle:hover {
  background-color: rgb(167, 167, 167);
}
