.column_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
  width: 390px;
  color: #556737;
  border: 2px solid rgb(212, 218, 200);
  border-radius: 15px;
  box-shadow: 5px 3px 10px 5px rgb(212, 218, 200);
  min-height: 100px;
  max-height: 400px;
}
.column_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column_title {
  font-size: 30px;
}
@media (max-width: 440px) {
  .column_item {
    width: 300px;
    padding: 7px 7px;
  }
  .task_list {
    padding: 0 ;
  }
  
}
