a {
  padding: 10px;
  position: relative;
}
.header_white {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  position: sticky;
  top: 0;
  min-height: 2em;
  background-color: white;
  z-index: 100;
  transition: background-color 0.7s;
}
.header_color {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  position: sticky;
  top: 0;
  min-height: 2em;
  background-color: rgba(148, 249, 6, 0.342);
  z-index: 100;
  transition: background-color 0.7s;
}
.logo {
  width: 30px;
}

.leftNav  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  gap: 15px;
  padding: 5px;
  line-height: 1.2;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  gap: 15px;
  padding: 5px;
  line-height: 1.2;
}
@media (max-width: 840px) {
  .header_white,
  .header_color {
    justify-content: center;
  }
}

.language-switch {
  position: relative;
  display: inline-block;
  margin: 10px 0px;
}

.language-switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.language-toggle-flat:checked ~ .off {
  color: #b2e944;
}

input.language-toggle-flat:checked ~ .on {
  color: #fff;
}

.language-switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #b2e944;
}

.language-switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.language-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.language-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.language-toggle-flat + label {
  padding: 2px;
  width: 97px;
  height: 34px;
  background-color: #b2e944;
  border-radius: 60px;
  box-shadow: 3px 1px 3px 1px rgb(200, 224, 168);
}
input.language-toggle-flat + label:before, input.language-toggle-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.language-toggle-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #b2e944;
  border-radius: 60px;
}
input.language-toggle-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.language-toggle-flat:checked + label:after {
  margin-left: 44px;
}
