a {
  padding: 10px;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  position: sticky;
}
.logo {
  width: 40px;
}
.nav {
  display: flex;
  align-self: flex-start;
  gap: 10px;
}
