.welcome_button {
  font-size: 30px;
  font-weight: 500;
  padding: 17px 30px;
  border-radius: 23px;
  color: white;
  align-self: center;
  width: 270px;
  background-color: #b2e944;
  border: 1px solid #b2e944;
  box-shadow: 7px 5px 7px 5px rgb(200, 224, 168);;
}
.welcome_button:hover {
    color: white;
    background-color: #bfff00cf;
    border: 1px solid #b2e944;
  }
