.task_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 5px 10px;
  color: #556737;
  border: 2px solid rgb(212, 218, 200);
  background-color: #b2e94465;
  border: 1px dashed #9fdf2198;
  border-radius: 15px;
}
.task_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task_title {
  font-size: 15px;
  align-self: center;
}
.delete_task {
  width: 15px;
  height: 15px;
  align-self: center;
}

