.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.layout{
  height: 100%;
}
.layout_main {
  height: 100%;
}
.outlet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
