.footer {
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #86a257;
}
.developer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 70px;
}
.rss_link,
.github_link {
  text-decoration: none;
  color: #86a257;
}
