.form_board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 270px;
    padding: 30px;
    border: 2px solid rgb(212, 218, 200);
    border-radius: 15px;
    box-shadow: 5px 3px 10px 5px rgb(212, 218, 200);
  }
  .title_input,
  .description_input {
    background-color: rgba(187, 255, 127, 0.123);
    text-align: start;
  }
  .description_input {
    height: 70px;
  }
  .title_input__label,
  .description_input__label {
    color: darkolivegreen;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
  }
  /* .board__button {
      
  } */