.profile {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.profile-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 74px 70px 70px;
}

.profile-form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 106px;
}

.profile-form__input-wrapper {
  font-size: 11px;
  line-height: 1.18;
  position: relative;
  width: 410px;
  padding: 17px 0 16px;
  border-bottom: 1px solid #E8E8E8;
}

.profile-form__input-wrapper:last-child {
  border-bottom: none;
}

.profile-form__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.profile-form__input {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: calc(100% - 60px);
  margin: 0 0 0 60px;
  text-align: right;
  border: none;
  background-color: transparent;
}

.profile-form__input-error {
  font-size: 10px;
  line-height: 1.2;
  margin: 10px 0 0;
  color: #EE3465;
}

.profile-form__buttons-wrapper {
  width: 100%;
  margin: 172px 0 0;
  text-align: center;
}

.profile-form__button_type_edit {
  font-size: 13px;
  line-height: 1.23;
  display: block;
  margin: 31px auto 0;
  padding: 0;
  text-align: center;
  background: transparent;
}

.profile-form__button_type_save {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  width: 100%;
  max-width: 410px;
  margin: 34px auto 0;
  padding: 13px 10px 15px;
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #b2e944;
}

.profile-form__button_type_save:disabled {
  margin: 20px 0 0;
  cursor: default;
  color: #C2C2C2;
  background: #F8F8F8;
}

.profile-form__button_type_exit {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  display: block;
  margin: 16px auto 0;
  padding: 0;
  text-align: center;
  color: #FF004D;
  background: transparent;
}

.profile-form__error {
  font-size: 11px;
  line-height: 1.18;
  margin: 0;
  text-align: center;
  color: #FF004C;
}

@media screen and (max-width: 1100px) {
  .profile-form {
    padding: 136px 30px 70px;
  }

  .profile-form__title {
    margin: 0 0 79px;
  }

  .profile-form__buttons-wrapper {
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 550px) {
  .profile-form {
    padding: 70px 30px;
  }

  .profile-form__title {
    margin: 0 0 63px;
  }

  .profile-form__buttons-wrapper {
    margin: 328px 0 0;
  }

  .profile-form__input-wrapper {
    width: 100%;
    max-width: 410px;
  }
}
